<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login Page</title>
    <meta name="keywords" content="Search">
    <meta name="description" content="Login Page">
    <meta name="author" content="Ingwer Ludwig">
</head>
<body>
    {{{body}}}
     <script language="JavaScript" type="text/javascript" src="./js/script.js"></script>
</body>

<footer>
	<p>
		Login System Created by <a target="_blank" href="https://www.linkedin.com/in/ingwer-ludwig-922b7a204/">Ingwer Ludwig</a> Design by 
        <a target="_blank" href="https://www.linkedin.com/in/ingwer-ludwig-922b7a204/">Florin Pop</a>
	</p>
</footer>

</html>