<link rel="stylesheet" href="/css/confirmStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

<div class="container">
    <h1 style="padding-top: 70px;text-align: center">Your session has ended</h1>
      <input type="checkbox" id="check">
      <label class="show_button" for="check">Click here to confirm</label>
      <div class="background"></div>
      <div class="alert_box">
        <div class="icon">
          <i class="fas fa-exclamation"></i>
        </div>
        <header>Confirm</header>
        <p>You want to extend your session?</p>
        <div class="btns">
          <label for="check">Yes</label>
          <label for="check">No, logout</label>
        </div>
      </div>
</div>